.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
*.Rproj

.gitignore

raw_data/*
cps_data/*
cps_docs/*

.DS_Store

tmp/cpsvrs.RDS
inst/doc
*Icon?

doc
Meta

img/plot_frames/*
img/plot_frames18/*

.positai
claude.md
.claude
